name: Auto Patch Merge
on: pull_request
jobs:
    merge:
        runs-on: ubuntu-latest
        if: ${{ github.actor == 'dependabot[bot]' }}
        permissions:
            contents: write
            pull-requests: write
        env:
            GITHUB_TOKEN: ${{ github.token }}
        steps:
            - uses: actions/checkout@v4
            - id: meta
              uses: dependabot/fetch-metadata@v2
            - run: exit 0
              if: ${{ steps.meta.outputs.update-type != 'version-update:semver-patch' }}
            - run: gh pr review "${GITHUB_HEAD_REF}" --approve
            - run: gh pr merge "${GITHUB_HEAD_REF}" --merge --auto
