name: Auto Merge
on: pull_request
jobs:
    merge:
        runs-on: ubuntu-latest
        if: ${{ github.actor == 'dependabot[bot]' }}
        permissions:
            contents: write
            pull-requests: write
        env:
            GITHUB_TOKEN: ${{ github.token }}
        steps:
            - uses: actions/checkout@v4
            - run: gh pr review "${GITHUB_HEAD_REF}" --approve
            - run: gh pr merge "${GITHUB_HEAD_REF}" --merge --auto
